<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azuefunction-todolist.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/74e2b008-4422-4b15-9ad6-f86f32cf6159/resourceGroups/AzureFunctionTest/providers/Microsoft.Web/sites/AzueFunction-ToDoList</ResourceId>
    <UserName>$AzueFunction-ToDoList</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azuefunction-todolist.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>